/* =============================RESET CSS=============================
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, button, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
 background-color: transparent;
 text-decoration: none;
}

input[type="placeholder"],
input[type="password"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

// textarea, input, button { outline: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
 display: block;
}
body {
 line-height: 1;
}
ol, ul {
 list-style: none;
}
blockquote, q {
 quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content: '';
 content: none;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
}



/*=============================NON RESET=============================*/
body {
  font-family: 'Space Mono', monospace;
    /*font-family: 'Orbitron', sans-serif;*/
    /*font-family: 'Press Start 2P', cursive;*/
  /*font-family: 'Baloo Bhaijaan', cursive;*/
  /*font-family: 'Faster One', cursive;*/
 }

#outershell {
    /*background-color: yellow;*/
    /*padding: 10px;*/
    /*margin: 10px;*/

    height: 100vh;
    width: 100vw;
    background-image: url('https://res.cloudinary.com/dckkkjkuz/image/upload/v1509228696/space-races/blue_space.jpg');
    background-size: cover;

    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
 }

#header {
    /*background-color: orange;*/
    padding: 10px;
    margin: 10px;

    /*height: 50px;*/
    width: 95%;

    font-family: 'Faster One', cursive;
    color: white;
    font-size: 50px;
    font-weight: bold;

    display: flex;
    /*flex-direction: column;*/
    /*justify-content: center;*/
    align-items: center;
}

#midshell {
    /*background-color: mediumpurple;*/
    padding: 10px;
    margin: 10px;

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
 }

#innershell {
    /*background-color: pink;*/
    padding: 10px;
    margin: 10px;

    width: 50%;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: left;
 }

.landingText {
    /*background-color: brown;*/
    padding: 10px;
    margin: 10px;

    color: white;
    font-size: 2em;
}




